body {
    margin: 0;
    font-family: Arial, sans-serif;
}


/* ------------ navbar -------------- */

.navbar {
    display: flex;
    align-items: center;
    padding: 15px 15px 10px;
    background: linear-gradient(135deg, #ffe1d4, #fd4714);
    color: #fff;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px ;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.icone {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(255, 100, 50, 0.4);
}

.logo {
    width: 80px;
    height: 80px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: auto;
    align-items: center;
    padding-right: 20px;
}

.menu li a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bolder;
    transition: 0.3s;
}

.menu li a:hover {
    color: #ffcc00;
}

.icone-svg svg {
    width: 20px;
    height: 20px;
    fill: #fff;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding-bottom: 20px;
    }

    .menu {
        margin-left: 0;
        padding-right: 0;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .menu li {
        text-align: center;
        padding: 8px 0;
        width: 100%;
        border-top: 1px solid #444;
    }
}


/* ------------ fim navbar -------------- */