body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background: linear-gradient(135deg, #ffaa82, #ff7149dc);
    color: #fff;
    position: relative; /* permite centralização real */
}

/* Ícone à esquerda */
.icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(255, 100, 50, 0.4);
}

/* Ícone do chapéu */
.chef-icon {
    width: 42px;
    height: 42px;
    color: #ff5b2c;
}

/* MENU CENTRALIZADO */
.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    position: absolute;
    left: 48%;
    transform: translateX(-50%);  /* centraliza 100% */
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: 0.3s;
    font-weight: bolder;
}

.menu li a:hover {
    color: #ffcc00;
}

/* ÍCONE DE PERFIL À DIREITA */
.profile {
    margin-left: auto; /* empurra para a direita */
    display: flex;
    align-items: center;
}

.profile-icon {
    font-size: 48px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.profile-icon:hover {
    color: #ffcc00;
}


/* RESPONSIVO */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        position: relative;
        height: auto;
        padding-bottom: 20px;
    }

    .menu {
        position: static;
        transform: none;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin-top: 10px;
    }

    .menu li {
        text-align: center;
        padding: 8px 0;
        width: 100%;
        border-top: 1px solid #444;
    }
}
